
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 10px 10px;
  overflow-x: hidden;
  position: absolute;
  background-color:#222831 ; 
  font-family:roboto;
  
  
}

html{
  scroll-behavior: smooth;
}

#bg-image{
  height: 900px;
  
  margin-left: 600px;
  margin-top: -350px;
 
}
.home{
  padding: 10px 10px;
}
.home h1{
    color: white;
    letter-spacing: 10px;
    text-align: center;
    font-size: 70px;
    
    text-transform: uppercase;
    float: left;
    text-shadow: 7px 7px 10px black; 
    span{
      color: #76ABAE;
    }
    
    
}
.home p{
    position: relative;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 850px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-align: left;
    
}
.home h2{
    color: #76ABAE;
    font-size: 40px;

}

nav{
  background-color: black;
  padding: 0px 0px;
  position: fixed;
  width:100%;
  margin-left: -10px;
  z-index: 1;
 
}
nav ul{
text-align: center;
padding: 0 ;

}
nav li{
  display: inline-block;
  padding: 0;
:hover{
  background-color: #0077b5;
  color: black;
}
}
nav a{
 
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  width: 100px;
  padding: 15px 20px;
  margin: 30px;
  


}
#btn-hide{
  display: none;
}

  #resume-download{
   position: absolute;
    padding: 20px 50px;
    background-color: #76ABAE;
    margin-top: -330px;
    a{
      font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    }
  }

.education{
  h1{
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 10px black;
    span{
      color: #76ABAE;
    }
  }
  
}
#education{
  table{
    margin: auto;
    h2{
      font-size: 40px;
color: white;
    }
    td{
      border-bottom: 1px solid white;
    }
    span{
      font-size: 20px;
    }
  }
}
.skills{
  display: flex;
  
  justify-content: space-evenly;
  
}
.box-1{
  height: fit-content;
  width: 40%;
  border: 1px solid black;
  background-color: rgba(255, 227, 202, 0.2);
  background-blend-mode: darken;
  border-radius: 20px;
  
  box-shadow: 5px 5px 10px black;
}
.box-2{
  height: fit-content;
  width: 40%;
  border: 1px solid black;
  background-color: rgba(255, 227, 202, 0.2);
  border-radius: 20px;
  
  box-shadow: 5px 5px 10px black;
}
#skills,#certificate,#about-me,#my-work{
  h1{
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 10px black;
  }
  span{
    color: #76ABAE;
  }
  
 
}

.wrapper{
  display: flexbox;
  flex-direction: column;
  

}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    height:200px;
  }
}
.w1{
  display: flex;
  justify-content: space-evenly;
}
.w2{
  display: flex;
  justify-content: space-evenly;
}
.text{
  display: flex;
  justify-content: space-evenly;
  
  h1{
    width: 40%;
    margin-top: -10px;
  }
}
.certi{
  margin-top: 80px;
  height: 300px;
  width: 400px;
  
  img{
    height: 300px;
    width: 400px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h3{
    color: white;
    font-size: 20px;
    
  }
  img:hover{
    margin-top: -20px;
    margin-left: -20px;
    transition: 0.3s;
    box-shadow: 10px 10px 40px black;
  }
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  button{
    background-color: #36D8FF;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
    justify-self: center;
    
  }  
}

#hidden button{
  background-color: #36D8FF;
    font-size: 20px;
    padding: 10px 20px;
    
    
}
.content{
  display: none;
}
.certificate{
  width: 1400px;
  display: flex;
  justify-content: space-evenly;
  row-gap: 40px;
  flex-wrap: wrap;
}
.certi-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1500px;
  flex-wrap: wrap;
  
}

.work-wrap{
  display: flex;
  justify-content: space-evenly;
  img{
    height: 300px;
    border: 2px solid #36D8FF;
    
  }
  img:hover{
    
      box-shadow: 10px 10px 20px black;
    
  }
  h2{
    color: white;
    font-size: 30px;
    font-weight: 300;
  }
  
}

#about-me{
  img{
    height: 800px;
   margin-left: -400px;
   margin-top:-200px;
  }
  #img-about-end{
    display: none;
  }
}
.about-me{
  
  height: 650px;
  width: 900px;
  margin-left: -200px;
  margin-top: -40px;
  
  
}
.wrapper-me{
  display: flex;
  
  
}
#about-me{
  button{
    padding: 20px 60px;
    margin-left: 30px;
    background-color: #76ABAE;
    font-size: 25px;
    
    
  }
  button:hover{
    box-shadow: 10px 5px 20px black;
    
  }
}
.wrapper-img-btn{
  display: flex;
  flex-direction: column;
  
}
#social{
  
 margin-top: -30px;
  height: 650px;
  width: 900px;
  display: none;
  img{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
  }
}
.social-media{
  display: flex;
  column-gap: 20px;
  align-items: center;
}
#details{
  margin-top: 60px;
  color: white;
  font-size: 40px;
  height: 650px;
  width: 900px;
}
#hobbies{
  height: 650px;
  width: 900px;
  display: none;
}
.text-box{
  border: 1px solid black;
  height: 80px;
  width: 400px;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  background: rgba(0,0,0,0.5);
  
  a{
    text-decoration:none ;
    color: white;
  }
}
.hobbies{
  margin-left: -450px;
  margin-top: 10px;
  li{
    color: white;
    font-size: 40px;
  }
  span{
    font-size: 50px;
  }
}
#social{
  #instagram:hover{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #facebook:hover{
    background:linear-gradient(120deg, #3b5998, #FFFFFF);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #linkedin:hover{
    background:linear-gradient(45deg, #0077b5, #000000, #313335, #86888a, #caccce, #00a0dc);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #youtube:hover{
    background:linear-gradient(120deg, #ff0000, #282828);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #twitter:hover{
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa, #ffffff);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }

  
}

@media (max-width:500px) {
  #bg-image{
    height: 900px;
    display: none;
    margin-left: 600px;
    margin-top: -350px;
   
  }
  #resume-download{
    scale: 80%;
    position: absolute;
     padding: 20px 50px;
     background-color: #76ABAE;
     margin-left: -32px;
     margin-top: 150px;
     a{
       font-size: 20px;
     font-weight: 700;
     text-decoration: none;
     color: black;
     }
   }
  nav{
    background-color: black;
    
    position: unset;
    width:104%;
    
    z-index: 1;
   
  }
  nav ul{
  text-align: center;
  padding: 0 ;
  
  }
  nav li{
    display: block;
    padding: 10px;
 
  }
  nav a{
   
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 100px;
    padding: 15px 20px;
    margin: 30px;
    
  
  
  }

.home h2{
  color: #76ABAE;
  font-size: 25px;
  margin-top: -30px;

}
.home h1{
  color:white;
  letter-spacing: 10px;
  text-align: left;
  font-size: 40px;
  
  text-transform: uppercase;
  float: left;
  text-shadow: 7px 7px 10px black; 
  span{
    color: #76ABAE;
  }
}
.home p{
  margin-top: 150px;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 350px;
  text-align: left;
}
#education{
  margin-top: 200px;
  table{
    margin: auto;
    h2{
      font-size: 15px;
color: white;
    }
    td{
      border-bottom: 1px solid white;
    }
    span{
      font-size: 12px;
    }
  }
}
.skills{
  display: flex;
  flex-direction: column;
  
  
}
.box-1{
  height: fit-content;
  width: 90%;
  border: 1px solid black;
  background: #ffe3ca75;
  border-radius: 20px;
  align-self: center;
  box-shadow: 5px 5px 10px black;
}
.box-2{
  height: fit-content;
  width: 90%;
  border: 1px solid black;
  background: #ffe3ca75;
  border-radius: 20px;
  align-self: center;
  margin-top: 20px;
  box-shadow: 5px 5px 10px black;
}
.wrapper{
  display: flex;
  flex-direction: column;
  h2{
    font-size: 10px;
  }

}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    height:80px;
  }
}
.w1{
  display: flex;
  justify-content: space-evenly;
}
.w2{
  display: flex;
  justify-content: space-evenly;
}
.text{
  display: flex;
  justify-content: space-evenly;
  
  h1{
    width: 40%;
    margin-top: -10px;
    display: none;
  }
}
.certi{
  margin-top: 30px;
  height: 300px;
  width: 400px;
  
  img{
    height: 200px;
    width: 300px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3{
    color: white;
    font-size: 18px;
    
  }
  :hover{
    margin-top: -20px;
    margin-left: -20px;
    transition: 0.3s;
    box-shadow: 10px 10px 40px black;
  }
}
.certificate{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-img-btn{
  display: unset;
}
#about-me{
 #img-about{
  display: none;
  
 }
  .btn{
    display: flex;
    padding: 10px 1px;
    margin-top: -50px;
    row-gap: 2px;
    margin-left:-170px;
    scale: 50%;
    button{
      font-size: 25px;
    }
  }
 
}

#social{
  scale: 60%;
  margin-left: -500px;
 margin-top: -30px;
  height: 650px;
  width: 900px;
  display: none;
  img{
    
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
  }
}
.social-media{
  display: flex;
  column-gap: 20px;
  align-items: center;
}
#details{
  margin-top:150px;
  margin-left: -310px;
  color: white;
  font-size: 18px;
  height: 650px;
  width: 350px;
}
#hobbies{
  scale: 80%;
  margin-top: -100px;
  height: 650px;
  width: 900px;
  display: none;
}
.text-box{
  border: 1px solid black;
  height: 80px;
  width: 400px;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  background: rgba(0,0,0,0.5);
  
  a{
    text-decoration:none ;
    color: white;
  }
}
.hobbies{
  margin-left: -350px;
  margin-top: 200px;
  li{
    color: white;
    font-size: 40px;
  }
  span{
    font-size: 50px;
  }
}
#social{
  #instagram:hover{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #facebook:hover{
    background:linear-gradient(120deg, #3b5998, #FFFFFF);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #linkedin:hover{
    background:linear-gradient(45deg, #0077b5, #000000, #313335, #86888a, #caccce, #00a0dc);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #youtube:hover{
    background:linear-gradient(120deg, #ff0000, #282828);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  #twitter:hover{
    background:linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f5f8fa, #ffffff);
    margin-top: -1px;
    margin-left: -5px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px black;
    a{
      color: black;
    }
  }
  
}
#img-about-end{
  display: flex;
 
}
}
